<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="icon" href="images/3232-title.png">
	<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="stylesheets/global.css">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="stylesheets/aboutUs.css">
	<title>关于我们</title>
</head>
<body>
	<div class="wrap">
		<!-- 头部 -->
		<header>
			<!-- 导航栏 -->
			<div class="logo"><img src="images/logo.png" alt="" onclick="location.href='/index'"></div>
		<nav>
			<ul>
				<li onclick="location.href='/index'">
					<p>Keyau首页</p>
					<p>Keyau首页</p>
				</li>
				<li onclick="location.href='/productCenter'">
					<p>产品中心</p>
					<p>产品中心</p>
				</li>
				<li onclick="location.href='/wineCulture'">
					<p>红酒文化</p>
					<p>红酒文化</p>
				</li>
				<li onclick="location.href='/newCenter'">
					<p>新闻中心</p>
					<p>新闻中心</p>
				</li>
				<li onclick="location.href='/cellar'">
					<p>酒窖展示</p>
					<p>酒窖展示</p>
				</li>
				<li onclick="location.href='/tel'">
					<p>联系我们</p>
					<p>联系我们</p>
				</li>
				<li onclick="location.href='/joinUs'">
					<p>招商加盟</p>
					<p>招商加盟</p>
				</li>
				<li onclick="location.href='/aboutUs'">
					<p>关于我们</p>
					<p>关于我们</p>
				</li>
			</ul>
		</nav>
		</header>
		<div class="phone">
			<ul class="phonee">
				<li onclick="location.href='/index'">Keyau首页</li>
				<li onclick="location.href='/productCenter'">产品中心</li>
				<li onclick="location.href='/wineCulture'">红酒文化</li>
				<li onclick="location.href='/newCenter'">新闻中心</li>
				<li onclick="location.href='/cellar'">酒窖展示</li>
				<li onclick="location.href='/tel'">联系我们</li>
				<li onclick="location.href='/joinUs'">招商加盟</li>
				<li onclick="location.href='/aboutUs'">关于我们</li>
			</ul>
			<span class="menu glyphicon glyphicon-menu-hamburger"></span>
		</div>

		<!-- 主体 -->
		<main>
			<section>
				<!-- 小导航 -->
				<ul>
					<li class="syClick"><a href="#" class="back">淇奥简介</a></li>
					<li class="deClick"><a href="#">发展历程</a></li>
				</ul>
				<div class="synopsis">
					<ul>
						<li>
							<div>2010年，东莞市琪奥酒业有限公司斥巨资强势入股法国琪奥酒庄，成立法国琪奥酒庄中国营运中心—东莞市琪奥酒业有限公司，成为法国琪奥酒庄在中国大陆唯一战略合作伙伴，并肩负着法国琪奥酒庄在中国的文化宣传、品牌建设、品牌推广、产品销售、市场管理等重大使命。目前，公司已全面启动中国市场，斥巨资打造琪奥品牌形象，提高品牌知名度和美誉度，利用电视、平面、网络、户外等媒体广告和其他不同形式，全方位地宣传法国琪奥酒庄品牌及产品，投入大量人力物力拓展市场和管理市场。</div>
							<img src="images/zdd/zdd_syjj1.jpg" alt="">
						</li>
						<li>
							<img src="images/zdd/zdd_syjj2.jpg" class="left">
							<div class="right">2014年开始，为积极适应经济发展新常态，东莞市琪奥酒业有限公司及时调整企业发展战略、调整产品结构，凭借多年来成熟的运营操作经验，充分利用品牌资源优势与雄厚的资本实力，先后与世界各地多家知名酒庄达成战略合作，以参股或买断品牌中国区独家代理权形式，提供产品源头保障，直降采购成本，实行从种植到酿造，从装瓶、物流运输、直营销售全程管控式管理。从此，东莞市琪奥酒业有限公司形成以“琪奥酒庄”为核心，多酒庄，多品牌共同发展的“多元化战略”。</div>
						</li>
						<li>
							<div>
								经过多年经营，东莞市琪奥酒业有限公司以独特、持久的"琪奥盈利模式"得到众多合作伙伴的追随与认可，快速建立强大的连锁加盟零售终端网络，经销网点达1000多个，触角已延伸至全国30多个省、市、自治区和直辖市。目前在中国，东莞市琪奥酒业有限公司旗下特许连锁加盟品牌—"琪奥国际酒庄（酒窖）"实体加盟店已超过600余家。在所有"琪奥人"的不懈努力下，琪奥正一步步向"把琪奥国际酒庄（酒窖）搬到中国的每一个城市"的梦想迈进。我们愿与天下有识之士真诚携手，共创辉煌明天，共创成功之路！
							</div>
							<img src="images/zdd/zdd_syjj3.jpg" alt="">
						</li>
					</ul>
				</div>
				<div class="develop display">
					<img src="images/zdd/zdd_deone.jpg" alt="">
					<ul>
						<li>
							<img src="images/zdd/zdd_detwo.jpg" alt="">
							<div>
								<span>起源</span>
								<p>
									早在2006年，琪奥酒业董事长庄荣昌先生已经涉足葡萄酒行业，开始从事进口葡萄酒贸易，深入调查、摸索、总结，探寻中国进口葡萄酒发展途径。为扩大规模、加速发展，不断投入巨资提高产品品类、优化运营团队、增强企业实力。回首过去，展望未来，我们一直在不断地接受挑战并从中获得成长。在庄荣昌先生的带领下，如今的琪奥酒业已经在国内进口葡萄酒行业市场稳住脚跟，并取得卓越成就。
								</p>
							</div>
						</li>
						<li>
							<div class="left">
								<span>发展</span>
								<p>
									2011年3月，第一家琪奥国际酒庄（广州旗舰店）隆重开业。7月，签约国际名模BELENX小姐为品牌全球明星代言人。
									2015年6月，如今的琪奥酒业已经在国内进口葡萄酒行业市场稳住脚跟，并取得卓越成就斥巨资进驻中央电视台一套、五套、七套黄金时间段广告。7月，首部琪奥品牌宣传片——"千滴万滴相思酿"开拍。9月，首批优秀代理商团队远赴法国波尔多酒庄实地考察、观光旅游。10月，在河北石家庄召开"琪奥酒业第一届全国经销商大会。
								</p>
							</div>
							<img src="images/zdd/zdd_dejies.jpg" class="right">
						</li>
						<li>
							<img src="images/zdd/zdd_dekh.jpg" alt="">
							<div>
								<span>沉淀</span>
								<p>
									2017进行改革，5月酒庄庄主帕特里克·宝悦至中国区总部考察。8月，在广东广州召开"琪奥酒业第三届全国经销商大会"。9月，第三届优秀代理商法国考察团到达波尔多琪奥酒庄实地考察。11月，CCTV《寻宝》栏目组走进桂林，琪奥系列被选为栏目指定用酒。如今的琪奥酒业已经在国内进口葡萄酒行业市场稳住脚跟，并取得卓越成就12月，智利安智利雅家族酒庄庄主FRANCISCO先生莅临蓝菲酒业中国运营中心参观考察。
								</p>
							</div>
						</li>
					</ul>
				</div>
			</section>
		</main>

		<!-- 尾部 -->
		<footer class="bottom">
			<div class="left"><img src="images/logo1.png" alt=""></div>
			<div class="right">
				<ul>
					<li><img src="images/tao.png" alt="">淘宝商城</li>
					<li><img src="images/weibo.png" alt="">公司微博</li>
					<li><img src="images/wechat.png" alt="">微信</li>
					<li><img src="images/email.png" alt="">邮箱</li>
				</ul>
				<span>东莞市蓝菲酒业有限公司</span>
				<address>地址：东莞市南城区财富广场A座13A04室</address>
				<p>
					<span>电话：0769-00000000</span>
					<span>传真：0769-00000000</span>
					<span>全国免费招商热线：400-0000-199</span>
				</p>
			</div>
			<p>东莞市Keyqu酒业有限公司    版权所有  Copyright 2010-2018 666.com All Rights Reserved 投资有风险,选择需谨慎 </p>
		</footer>
		<div class="top_up"><img src="images/top.png" alt=""></div>
	</div>
	<script src="javascripts/jquery-3.3.1.min.js"></script>
	<script src="javascripts/bootstrap.min.js"></script>
	<script src="javascripts/global.js"></script>
	<script src="javascripts/aboutUs.js"></script>
</body>
</html>