<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="icon" href="images/global/1616-title.png"/>
	<link rel="shortcut icon" href="images/global/3232-title.png"/>
	<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="stylesheets/global.css">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="stylesheets/joinUs.css">
	<title>招商加盟</title>
</head>
<body>
	<div class="wrap">
		<!-- 头部 -->
		<header>
			<!-- 导航栏 -->
			<div class="logo"><img src="images/logo.png" alt="" onclick="location.href='/index'"></div>
		<nav>
			<ul>
				<li onclick="location.href='/index'">
					<p>Keyau首页</p>
					<p>Keyau首页</p>
				</li>
				<li onclick="location.href='/productCenter'">
					<p>产品中心</p>
					<p>产品中心</p>
				</li>
				<li onclick="location.href='/wineCulture'">
					<p>红酒文化</p>
					<p>红酒文化</p>
				</li>
				<li onclick="location.href='/newCenter'">
					<p>新闻中心</p>
					<p>新闻中心</p>
				</li>
				<li onclick="location.href='/cellar'">
					<p>酒窖展示</p>
					<p>酒窖展示</p>
				</li>
				<li onclick="location.href='/tel'">
					<p>联系我们</p>
					<p>联系我们</p>
				</li>
				<li onclick="location.href='/joinUs'">
					<p>招商加盟</p>
					<p>招商加盟</p>
				</li>
				<li onclick="location.href='/aboutUs'">
					<p>关于我们</p>
					<p>关于我们</p>
				</li>
			</ul>
		</nav>
		</header>
		<div class="phone">
			<ul class="phonee">
				<li onclick="location.href='/index'">Keyau首页</li>
				<li onclick="location.href='/productCenter'">产品中心</li>
				<li onclick="location.href='/wineCulture'">红酒文化</li>
				<li onclick="location.href='/newCenter'">新闻中心</li>
				<li onclick="location.href='/cellar'">酒窖展示</li>
				<li onclick="location.href='/tel'">联系我们</li>
				<li onclick="location.href='/joinUs'">招商加盟</li>
				<li onclick="location.href='/aboutUs'">关于我们</li>
			</ul>
			<span class="menu glyphicon glyphicon-menu-hamburger"></span>
		</div>
		<!-- 主体 -->
		<main>
			<img src="images/zdd/zdd_jtop.jpg">
			<div class="header">
				<!-- 酒庄代代相传 -->
				<div class="hTop">
					<div>
						<span>酒庄代代相传 品质始终如一</span>
						<p>
							蓝菲酒庄坐落于法国最大的AOC葡萄酒产区波尔多，也是波尔多仅存的几家独立传统家族酒庄之一。酒庄面积上百公顷，土壤表层为沙石，土壤丰厚，园内种植着优质的美乐与赤霞珠等优质葡萄品种，平均树龄为30年。
						</p>
						<p>
							1958年，酒庄创始罗杰·宝悦先生以大量的资金购买了距离波尔多不远的昂巴勒斯大仓库，也收购了大量的葡萄园，和他的儿子赛吉以及安德列一起创立了蓝菲酒庄。
						</p>
						<div><a href="javascript:void(0);">了解更多</a></div>
					</div>
					<img src="images/zdd/zdd_jdt.png" alt="">
				</div>
				<!-- 全国原产地直供 -->
				<div class="hButtom">
					<div>
						<img src="images/zdd/zdd_jhb.png">
						<div>
							<span>全球原产地直供</span>
							<p>
								蓝菲已与全球主要葡萄酒出产国多家知名酒庄结成牢固的战略合作联盟，运营包括法国、智利、西班牙、澳大利亚等4个国家20多个品牌，几百款产品，成功打造成种类丰富、高性价比的蓝菲产品线。
							</p>
						</div>
					</div>
				</div>
			</div>

			<div class="main">
				<!-- 品牌实力 -->
				<div class="mTop">
					<img src="images/zdd/zdd_jtitle1.png">
					<h1>诚邀加盟：与一个成功品牌共同发展</h1>
					<p>———————选择蓝菲，开启中国进口葡萄酒财富巅峰——————</p>
					<ul>
						<li><span>10</span>大<p>王牌优势</p></li>
						<li><span>12</span>大<p>运营保障</p></li>
						<li><span>600</span>+<p>连锁门店</p></li>
						<li><span>1000</span>+<p>经销网点</p></li>
					</ul>
				</div>
				<!-- 十大优势 -->
				<div class="mMain">
					<img src="images/zdd/zdd_jtitle2.png" alt="">
					<ul id="bar" class="bar">
						<li class="item-select">实力优势</li>
						<li class="item" value="1">实力优势</li>
						<li class="item" value="2">品牌优势</li>
						<li class="item" value="3">产品优势</li>
						<li class="item" value="4">品质优势</li>
						<li class="item" value="5">价格优势</li>
						<li class="item" value="6">经验优势</li>
						<li class="item" value="7">推广优势</li>
						<li class="item" value="8">政策优势</li>
						<li class="item" value="9">服务优势</li>
						<li class="item" value="10">口碑优势</li>
					</ul>
					<div class="lun">
						<div class="bac"></div>
						<div class="exhi">
							<ul>
								<li><img src="images/zdd/zdd_lun01.png" alt=""></li>
								<li><img src="images/zdd/zdd_lun02.png" alt=""></li>
								<li><img src="images/zdd/zdd_lun03.png" alt=""></li>
								<li><img src="images/zdd/zdd_lun04.png" alt=""></li>
								<li><img src="images/zdd/zdd_lun05.png" alt=""></li>
								<li><img src="images/zdd/zdd_lun06.png" alt=""></li>
								<li><img src="images/zdd/zdd_lun07.png" alt=""></li>
								<li><img src="images/zdd/zdd_lun08.png" alt=""></li>
								<li><img src="images/zdd/zdd_lun09.png" alt=""></li>
								<li><img src="images/zdd/zdd_lun10.png" alt=""></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- 五大盈利 -->
				<div class="mButtom">
					<span>五大盈利</span>
					<h2>5大盈利保证，完美实现快速盈利</h2>
					<p>—————每一个成功背后，必有坚实后盾————</p>
					<ul>
						<li>
							<div class="mbImg"><img src="images/zdd/zdd_youshi1.png" alt=""><p>大平台</p></div>
							<div class="mbTran">依托蓝菲庞大的品牌实力，<br>站在巨人的肩膀上走的更远！</div>
						</li>
						<li>
							<div class="mbImg"><img src="images/zdd/zdd_youshi2.png" alt=""><p>低风险</p></div>
							<div class="mbTran">0加盟费，无压力销售，<br>降低投资成本，总部共担风险！</div>
						</li>
						<li>
							<div class="mbImg"><img src="images/zdd/zdd_youshi3.png" alt=""><p>多渠道</p></div>
							<div class="mbTran">三级分销、批发团购，<br>手把手教你打开市场！</div>
						</li>
						<li>
							<div class="mbImg"><img src="images/zdd/zdd_youshi4.png" alt=""><p>高利润</p></div>
							<div class="mbTran">低成本供应，保障价格优势，<br>实现代理商利润最大化！</div>
						</li>
						<li>
							<div class="mbImg"><img src="images/zdd/zdd_youshi5.png" alt=""><p>模式灵活</p></div>
							<div class="mbTran">根据代理实际情况，灵活制定<br>合作模式，快速启动市场！</div>
						</li>
					</ul>
				</div>
				<!-- 合作模式 -->
				<div class="mFooter">
					<div>
						<img src="images/zdd/zdd_jtitle3.png" alt="">
						<div><h1>心有多大，舞台就有多大</h1><p>———战略选择：适合自己的才是最好的———</p></div>
					</div>
					<ul>
						<li>
							<a href="">
								<div>
									<div class="one"><img src="images/zdd/zdd_zm.jpg" alt=""></div>
									<div class="two"><img src="images/zdd/zdd_zm2.jpg" alt=""></div>
								</div>
							</a>
							<p>专卖店/大型商场店中店，统一门头、统一形象、统一装修</p>
						</li>
						<li>
							<a href="">
								<div>
									<div class="one"><img src="images/zdd/zdd_hs.jpg" alt=""></div>
									<div class="two"><img src="images/zdd/zdd_hs2.jpg" alt=""></div>
								</div>
							</a>
							<p>集储藏、零售、餐饮、娱乐于一体，装修豪华</p>
						</li>
						<li>
							<a href="">
								<div>
									<div class="one"><img src="images/zdd/zdd_sm.jpg" alt=""></div>
									<div class="two"><img src="images/zdd/zdd_sm2.jpg" alt=""></div>
								</div>
							</a>
							<p>以所在区域为单位，开发下级经销/代理商</p>
						</li>
						<li>
							<a href="">
								<div>
									<div class="one"><img src="images/zdd/zdd_jx.jpg" alt=""></div>
									<div class="two"><img src="images/zdd/zdd_jx2.jpg" alt=""></div>
								</div>
							</a>
							<p>以产品供应为主，独家代理部分酒款进行销售</p>
						</li>
						<li>
							<a href="">
								<div>
									<div class="one"><img src="images/zdd/zdd_cc.jpg" alt=""></div>
									<div class="two"><img src="images/zdd/zdd_cc2.jpg" alt=""></div>
								</div>
							</a>
							<p>带有存储、批发性质的批售式红酒仓库，以渠道供应为主</p>
						</li>
					</ul>

				</div>
			</div>
			
			<div class="footer">
				<!-- 加盟 -->
				<h1>加盟申请</h1>
				<form action="/joinAction" method="post" id="joinform">
					<div>
						<div class="essence">
							<p>姓名：<span id="name"></span></p>
							<input type="text" class="name" name="name"><br>
							<p>电话：<span id="tel"></span></p>
							<input type="text" class="tel" name="tel"><br>
							<p>邮箱：<span id="mail"></span></p>
							<input type="text" class="mail" name="mail"><br>
						</div>
						<div class="message">
							<p>留言：<span id="mess"></span></p>
							<textarea name="mess" id="" cols="50" rows="10" style="resize:none;" class="mess"></textarea>
						</div>
					</div>
					<input type="submit" class="sub">
				</form>
			</div>
		</main>

		<!-- 尾部 -->
		<footer class="bottom">
			<div class="left"><img src="images/images/logo1.png" alt=""></div>
			<div class="right"><ul>
				<li><img src="images/tao.png" alt="">淘宝商城</li>
				<li><img src="images/weibo.png" alt="">公司微博</li>
				<li><img src="images/wechat.png" alt="">微信</li>
				<li><img src="images/email.png" alt="">邮箱</li>
			</ul>
			<span>东莞市蓝菲酒业有限公司</span><address>地址：东莞市南城区财富广场A座13A04室</address>
			<p>
				<span>电话：0769-00000000</span>
				<span>传真：0769-00000000</span>
				<span>全国免费招商热线：400-0000-199</span>
			</p>
			</div>
			<p>东莞市Keyqu酒业有限公司    版权所有  Copyright 2010-2018 666.com All Rights Reserved 投资有风险,选择需谨慎 </p>
		</footer>
		<div class="top_up"><img src="images/top.png" alt=""></div>
	</div>
	<script src="javascripts/jquery-3.3.1.min.js"></script>
	<script src="javascripts/bootstrap.min.js"></script>
	<script src="javascripts/global.js"></script>
	<script src="javascripts/joinUs.js"></script>
</body>
</html>