<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="icon" href="images/3232-title.png">
	<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="stylesheets/global.css">
	<link rel="stylesheet" href="stylesheets/productCenter.css">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>产品中心</title>
</head>
<body>
	<div class="wrap">
		<!-- 头部 -->
		<header>
			<!-- 导航栏 -->
	<div class="logo"><img src="images/logo.png" alt="" onclick="location.href='/index'"></div>
		<nav>
			<ul>
				<li onclick="location.href='/index'">
					<p>Keyau首页</p>
					<p>Keyau首页</p>
				</li>
				<li onclick="location.href='/productCenter'">
					<p>产品中心</p>
					<p>产品中心</p>
				</li>
				<li onclick="location.href='/wineCulture'">
					<p>红酒文化</p>
					<p>红酒文化</p>
				</li>
				<li onclick="location.href='/newCenter'">
					<p>新闻中心</p>
					<p>新闻中心</p>
				</li>
				<li onclick="location.href='/cellar'">
					<p>酒窖展示</p>
					<p>酒窖展示</p>
				</li>
				<li onclick="location.href='/tel'">
					<p>联系我们</p>
					<p>联系我们</p>
				</li>
				<li onclick="location.href='/joinUs'">
					<p>招商加盟</p>
					<p>招商加盟</p>
				</li>
				<li onclick="location.href='/aboutUs'">
					<p>关于我们</p>
					<p>关于我们</p>
				</li>
			</ul>
		</nav>
		</header>
		<div class="phone">
			<ul class="phonee">
				<li onclick="location.href='/index'">Keyau首页</li>
				<li onclick="location.href='/productCenter'">产品中心</li>
				<li onclick="location.href='/wineCulture'">红酒文化</li>
				<li onclick="location.href='/newCenter'">新闻中心</li>
				<li onclick="location.href='/cellar'">酒窖展示</li>
				<li onclick="location.href='/tel'">联系我们</li>
				<li onclick="location.href='/joinUs'">招商加盟</li>
				<li onclick="location.href='/aboutUs'">关于我们</li>
			</ul>
			<span class="menu glyphicon glyphicon-menu-hamburger"></span>
		</div>
		<!-- 主体 -->
		<main>
			<div class="main">
				<ul class="navigation">
					<li><a class="select">葡萄酒</a></li>
					<li><a>白酒</a></li>
					<li><a>洋酒</a></li>
					<li><a>红酒</a></li>
					<li><a>智利</a></li>
					<li><a>白兰地</a></li>
				</ul>
				<div class="tabs-1">
					<div class="grape">
						<ul class="title">
							<li>
								<img src="../images/Pr4.jpg" alt="">
								<a href="">杰卡斯（Jacob’</a><br>
								<label for="">价格:</label>
								<span>499.00</span>
							</li>
							<li>
								<img src="../images/Pr3.jpg" alt="">
								<a href="">拉菲红酒 法国进口尚</a><br>
								<label for="">价格:</label>
								<span>299.00</span>
							</li>
							<li>
								<img src="../images/Pr2.jpg" alt="">
								<a href="">张裕红酒特选级干红葡</a><br>
								<label for="">价格:</label>
								<span>179.00</span>
							</li>
							<li>
								<img src="../images/Pr1.jpg" alt="">
								<a href="">红酒优选级赤霞珠</a><br>
								<label for="">价格:</label>
								<span>388.00</span>
							</li>
						</ul>
					</div>
					<div class="liquor">
						<ul class="title">
							<li>
								<img src="../images/bai_03_rty8.png" alt="">
								<a href="">30年陈年XX酒</a><br>
								<label for="">价格:</label>
								<span>500.00</span>
							</li>
							<li>
								<img src="../images/bai_05_5odo_1e8r.png" alt="">
								<a href="">20年陈年XX酒</a><br>
								<label for="">价格:</label>
								<span>600.00</span>
							</li>
							<li>
								<img src="../images/bai_07_ro17_a0pm.png" alt="">
								<a href="">30年陈年XX酒</a><br>
								<label for="">价格:</label>
								<span>700.00</span>
							</li>
							<li>
								<img src="../images/bai_09_owg6_o033.png" alt="">
								<a href="">50年陈年XX酒</a><br>
								<label for="">价格:</label>
								<span>800.00</span>
							</li>
							<li>
								<img src="../images/bai_15_wk6o_6d95.png" alt="">
								<a href="">15年陈年XX酒</a><br>
								<label for="">价格:</label>
								<span>500.00</span>
							</li>
							<li>
								<img src="../images/bai_16_70lu_z4sy.png" alt="">
								<a href="">30年陈年XX酒</a><br>
								<label for="">价格:</label>
								<span>450.00</span>
							</li>
							<li>
								<img src="../images/bai_17_xjpw_n2ew.png" alt="">
								<a href="">伏特X</a><br>
								<label for="">价格:</label>
								<span>170.00</span>
							</li>
							<li>
								<img src="../images/bai_18_xav5_00j4.png" alt="">
								<a href="">53°XX酒</a><br>
								<label for="">价格:</label>
								<span>200.00</span>
							</li>
						</ul>
					</div>
					<div class="spirits">
						<ul class="title">
							<li>
								<img src="../images/yang_03_vlal_6gmo.png" alt="">
								<a href="">高X</a><br>
								<label for="">价格:</label>
								<span>220.00</span>
							</li>
							<li>
								<img src="../images/yang_05_l5ps_zjyq.png" alt="">
								<a href="">RXM-2</a><br>
								<label for="">价格:</label>
								<span>320.00</span>
							</li>
							<li>
								<img src="../images/yang_07_t0ai_3ufr.png" alt="">
								<a href="">大将军XXX</a><br>
								<label for="">价格:</label>
								<span>300.00</span>
							</li>
							<li>
								<img src="../images/yang_09_d90w_zi0f.png" alt="">
								<a href="">RXM-1</a><br>
								<label for="">价格:</label>
								<span>220.00</span>
							</li>
							<li>
								<img src="../images/yang_11_ax1h_epok.png" alt="">
								<a href="">BLD-RXM-1</a><br>
								<label for="">价格:</label>
								<span>230.00</span>
							</li>
						</ul>
					</div>
					<div class="rouge">
						<ul class="title">
							<li>
								<img src="../images/hong_05_qj0v_9wbd.png" alt="">
								<a href="">XXX海洛干红</a><br>
								<label for="">价格:</label>
								<span>360.00</span>
							</li>
							<li>
								<img src="../images/hong_03_kx4e_f5gf.png" alt="">
								<a href="">CROLX MXXT</a><br>
								<label for="">价格:</label>
								<span>320.00</span>
							</li>
							<li>
								<img src="../images/hong_07_xngy_jrmp.png" alt="">
								<a href="">卡布X思</a><br>
								<label for="">价格:</label>
								<span>420.00</span>
							</li>
							<li>
								<img src="../images/hong_09_6197_tfrv.png" alt="">
								<a href="">XXX色拉子解百纳</a><br>
								<label for="">价格:</label>
								<span>320.00</span>
							</li>
						</ul>
					</div>
					<div class="chile">
						<ul class="title">
							<li>
								<img src="../images/zhi_07_ir7v_8x9g.png" alt="">
								<a href="">XXX梅铎马逊干红</a><br>
								<label for="">价格:</label>
								<span>220.00</span>
							</li>
							<li>
								<img src="../images/zhi_07_ir7v_8x9g.png" alt="">
								<a href="">梅X马逊干红</a><br>
								<label for="">价格:</label>
								<span>220.00</span>
							</li>
							<li>
								<img src="../images/zhi_05_wclc_cc4j.png" alt="">
								<a href="">米兰XXX干白</a><br>
								<label for="">价格:</label>
								<span>500.00</span>
							</li>
							<li>
								<img src="../images/hong_07_xngy_jrmp.png" alt="">
								<a href="">乐骑X</a><br>
								<label for="">价格:</label>
								<span>360.00</span>
							</li>
							<li>
								<img src="../images/zhi_09_7nhs_lh59.png" alt="">
								<a href="">蒙娜XX丽</a><br>
								<label for="">价格:</label>
								<span>390.00</span>
							</li>
						</ul>
					</div>
					<div class="brandy">
						<ul class="title">
							<li>
								<img src="../images/bai_03_gv2m_ql0g.png" alt="">
								<a href="">轩X诗XX</a><br>
								<label for="">价格:</label>
								<span>860.00</span>
							</li>
							<li>
								<img src="../images/bai_05_jjng_ow4w.png" alt="">
								<a href="">MAXXX VSO</a><br>
								<label for="">价格:</label>
								<span>500.00</span>
							</li>
							<li>
								<img src="../images/bai_09_9lri_k4gz.png" alt="">
								<a href="">3L轩X诗</a><br>
								<label for="">价格:</label>
								<span>500.00</span>
							</li>
							<li>
								<img src="../images/bai_07_y0r5_1prr.png" alt="">
								<a href="">马爹XXX</a><br>
								<label for="">价格:</label>
								<span>850.00</span>
							</li>
						</ul>
					</div>
				</div>
				<div class="tabs-2">
						<div class="main1">
							<ul class="title">
								<li>
									<img src="../images/Pr4.jpg" alt="">
									<a href="">杰卡斯（Jacob’</a><br>
									<label for="">价格:</label>
									<span>499.00</span>
								</li>
								<li>
									<img src="../images/Pr3.jpg" alt="">
									<a href="">拉菲红酒 法国进口尚</a><br>
									<label for="">价格:</label>
									<span>299.00</span>
								</li>
								<li>
									<img src="../images/Pr2.jpg" alt="">
									<a href="">张裕红酒特选级干红葡</a><br>
									<label for="">价格:</label>
									<span>179.00</span>
								</li>
								<li>
									<img src="../images/Pr1.jpg" alt="">
									<a href="">红酒优选级赤霞珠</a><br>
									<label for="">价格:</label>
									<span>388.00</span>
								</li>
								<li>
									<img src="../images/bai_03_rty8.png" alt="">
									<a href="">30年陈年XX酒</a><br>
									<label for="">价格:</label>
									<span>500.00</span>
								</li>
								<li>
									<img src="../images/bai_05_5odo_1e8r.png" alt="">
									<a href="">20年陈年XX酒</a><br>
									<label for="">价格:</label>
									<span>600.00</span>
								</li>
								<li>
									<img src="../images/bai_07_ro17_a0pm.png" alt="">
									<a href="">30年陈年XX酒</a><br>
									<label for="">价格:</label>
									<span>700.00</span>
								</li>
								<li>
									<img src="../images/bai_09_owg6_o033.png" alt="">
									<a href="">50年陈年XX酒</a><br>
									<label for="">价格:</label>
									<span>800.00</span>
								</li>
								<li>
									<img src="../images/bai_15_wk6o_6d95.png" alt="">
									<a href="">15年陈年XX酒</a><br>
									<label for="">价格:</label>
									<span>500.00</span>
								</li>
								<li>
									<img src="../images/bai_16_70lu_z4sy.png" alt="">
									<a href="">30年陈年XX酒</a><br>
									<label for="">价格:</label>
									<span>450.00</span>
								</li>
							</ul>
						</div>
						<div>
							<ul class="title">
								<li>
									<img src="../images/bai_17_xjpw_n2ew.png" alt="">
									<a href="">伏特X</a><br>
									<label for="">价格:</label>
									<span>170.00</span>
								</li>
								<li>
									<img src="../images/bai_18_xav5_00j4.png" alt="">
									<a href="">53°XX酒</a><br>
									<label for="">价格:</label>
									<span>200.00</span>
								</li>
								<li>
									<img src="../images/yang_03_vlal_6gmo.png" alt="">
									<a href="">高X</a><br>
									<label for="">价格:</label>
									<span>220.00</span>
								</li>
								<li>
									<img src="../images/yang_05_l5ps_zjyq.png" alt="">
									<a href="">RXM-2</a><br>
									<label for="">价格:</label>
									<span>320.00</span>
								</li>
								<li>
									<img src="../images/yang_07_t0ai_3ufr.png" alt="">
									<a href="">大将军XXX</a><br>
									<label for="">价格:</label>
									<span>300.00</span>
								</li>
								<li>
									<img src="../images/yang_09_d90w_zi0f.png" alt="">
									<a href="">RXM-1</a><br>
									<label for="">价格:</label>
									<span>220.00</span>
								</li>
								<li>
									<img src="../images/yang_11_ax1h_epok.png" alt="">
									<a href="">BLD-RXM-1</a><br>
									<label for="">价格:</label>
									<span>230.00</span>
								</li>
								<li>
									<img src="../images/hong_05_qj0v_9wbd.png" alt="">
									<a href="">XXX海洛干红</a><br>
									<label for="">价格:</label>
									<span>360.00</span>
								</li>
								<li>
									<img src="../images/hong_03_kx4e_f5gf.png" alt="">
									<a href="">CROLX MXXT</a><br>
									<label for="">价格:</label>
									<span>320.00</span>
								</li>
								<li>
									<img src="../images/hong_07_xngy_jrmp.png" alt="">
									<a href="">卡布X思</a><br>
									<label for="">价格:</label>
									<span>420.00</span>
								</li>
							</ul>
						</div>
						<div>
							<ul class="title">
								<li>
									<img src="../images/hong_09_6197_tfrv.png" alt="">
									<a href="">XXX色拉子解百纳</a><br>
									<label for="">价格:</label>
									<span>320.00</span>
								</li>
								<li>
									<img src="../images/zhi_07_ir7v_8x9g.png" alt="">
									<a href="">XXX梅铎马逊干红</a><br>
									<label for="">价格:</label>
									<span>220.00</span>
								</li>
								<li>
									<img src="../images/zhi_07_ir7v_8x9g.png" alt="">
									<a href="">梅X马逊干红</a><br>
									<label for="">价格:</label>
									<span>220.00</span>
								</li>
								<li>
									<img src="../images/zhi_05_wclc_cc4j.png" alt="">
									<a href="">米兰XXX干白</a><br>
									<label for="">价格:</label>
									<span>500.00</span>
								</li>
								<li>
									<img src="../images/hong_07_xngy_jrmp.png" alt="">
									<a href="">乐骑X</a><br>
									<label for="">价格:</label>
									<span>360.00</span>
								</li>
								<li>
									<img src="../images/zhi_09_7nhs_lh59.png" alt="">
									<a href="">蒙娜XX丽</a><br>
									<label for="">价格:</label>
									<span>390.00</span>
								</li>
								<li>
									<img src="../images/bai_03_gv2m_ql0g.png" alt="">
									<a href="">轩X诗XX</a><br>
									<label for="">价格:</label>
									<span>860.00</span>
								</li>
								<li>
									<img src="../images/bai_05_jjng_ow4w.png" alt="">
									<a href="">MAXXX VSO</a><br>
									<label for="">价格:</label>
									<span>500.00</span>
								</li>
								<li>
									<img src="../images/bai_09_9lri_k4gz.png" alt="">
									<a href="">3L轩X诗</a><br>
									<label for="">价格:</label>
									<span>500.00</span>
								</li>
								<li>
									<img src="../images/bai_07_y0r5_1prr.png" alt="">
									<a href="">马爹XXX</a><br>
									<label for="">价格:</label>
									<span>850.00</span>
								</li>
							</ul>
						</div>
				</div>
				<div class="cut">
					<div class="showprec"><span>共30条记录</span></div>
					<ul>
						<li>
							<div class="pager num" value="1">1</div>
							<div class="num" value="2">2 </div>
							<div class="num" value="3">3 </div>
							<div class="next">下一页></div>
							<div class="remov">末页</div>
						</li>
					</ul>
				</div>
				<div class="qingchu"></div>
			</div>
		</main>
		<!-- 尾部 -->
		<footer class="bottom">
			<div class="left"><img src="images/logo1.png" alt=""></div>
			<div class="right"><ul>
				<li><img src="images/tao.png" alt="">淘宝商城</li>
				<li><img src="images/weibo.png" alt="">公司微博</li>
				<li><img src="images/wechat.png" alt="">微信</li>
				<li><img src="images/email.png" alt="">邮箱</li>
			</ul>
		<span>东莞市蓝菲酒业有限公司</span><address>地址：东莞市南城区财富广场A座13A04室</address>
		<p>
			<span>电话：0769-00000000</span>
			<span>传真：0769-00000000</span>
			<span>全国免费招商热线：400-0000-199</span>
		</p>
		</div>
		<p>东莞市Keyqu酒业有限公司    版权所有  Copyright 2010-2018 666.com All Rights Reserved 投资有风险,选择需谨慎 </p>
		</footer>
		<div class="top_up"><img src="images/top.png" alt=""></div>
	</div>
	<script src="javascripts/jquery-3.3.1.min.js"></script>
	<script src="javascripts/bootstrap.min.js"></script>
	<script src="javascripts/global.js"></script>
	<script src="javascripts/productCenter.js"></script>
</body>
</html>