<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="icon" href="images/3232-title.png">
	<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="stylesheets/global.css">
	<link rel="stylesheet" href="stylesheets/wineCulture.css">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>红酒文化</title>
</head>
<body>
	<div class="wrap">
		<!-- 头部 -->
		<header>
			<!-- 导航栏 -->
			<div class="logo"><img src="images/logo.png" alt="" onclick="location.href='/index'"></div>
		<nav>
			<ul>
				<li onclick="location.href='/index'">
					<p>Keyau首页</p>
					<p>Keyau首页</p>
				</li>
				<li onclick="location.href='/productCenter'">
					<p>产品中心</p>
					<p>产品中心</p>
				</li>
				<li onclick="location.href='/wineCulture'">
					<p>红酒文化</p>
					<p>红酒文化</p>
				</li>
				<li onclick="location.href='/newCenter'">
					<p>新闻中心</p>
					<p>新闻中心</p>
				</li>
				<li onclick="location.href='/cellar'">
					<p>酒窖展示</p>
					<p>酒窖展示</p>
				</li>
				<li onclick="location.href='/tel'">
					<p>联系我们</p>
					<p>联系我们</p>
				</li>
				<li onclick="location.href='/joinUs'">
					<p>招商加盟</p>
					<p>招商加盟</p>
				</li>
				<li onclick="location.href='/aboutUs'">
					<p>关于我们</p>
					<p>关于我们</p>
				</li>
			</ul>
		</nav>
		</header>
		<div class="phone">
			<ul class="phonee">
				<li onclick="location.href='/index'">Keyau首页</li>
				<li onclick="location.href='/productCenter'">产品中心</li>
				<li onclick="location.href='/wineCulture'">红酒文化</li>
				<li onclick="location.href='/newCenter'">新闻中心</li>
				<li onclick="location.href='/cellar'">酒窖展示</li>
				<li onclick="location.href='/tel'">联系我们</li>
				<li onclick="location.href='/joinUs'">招商加盟</li>
				<li onclick="location.href='/aboutUs'">关于我们</li>
			</ul>
			<span class="menu glyphicon glyphicon-menu-hamburger"></span>
		</div>
		<!-- 主体 -->
		<main>
			<div class="main">
				<ul class="navigation">
						<li><a class="select">红酒课堂</a></li>
						<li><a>红酒品鉴</a></li>
						<li><a>红酒美食</a></li>
						<li><a>红酒产区</a></li>
						<li><a>红酒旅游</a></li>
				</ul>
				<div class="qingchu">
					<div class="redWineClass">
						<ul>
							<li>
								<img src="images/4-1Z30615021B00.jpg" alt="">
								<span>酒腿，又称酒泪、挂杯。斟好酒后，轻轻摇晃，让酒液在杯壁上均匀转圈，停止摇晃时，酒液便会形成一条条液柱，缓缓地向下流动，细细的、长长的，人们将它形容为酒腿，真是再贴切不过了。</span><br>
								<br>
								<a>时间：2019-03-06 15：0：06</a>
							</li>
							<li>
								<img src="images/4-1Z30515123U32.jpg" alt="">
								<span>大多数葡萄酒酒瓶的底部，都有一个凹陷的凹槽。这个凹槽到底有什么作用呢?有人说，有凹槽的葡萄酒才是真酒，同时凹槽越深，酒的品质就越好。这种说法是否正确? 凹槽是判断假酒的依据</span><br>
								<br>
								<a>时间：2019-03-05 15:10:15</a>
							</li>
							<li>
								<img src="images/4-1Z30415105V13.jpg" alt="">
								<span>葡萄酒出现异味，或者香气散尽导致无法下咽，是不少人都遭遇过的悲剧。引起葡萄酒变质的原因有很多，以下就是最常见的元凶： 高温 对于娇贵的葡萄酒来说，温度变化对葡萄酒品质的影响很大。</span><br>
								<br>
								<a>时间：2019-03-04 15:10:00</a>
							</li>
							<li>
								<img src="images/4-1Z3011RJ9A6.jpg" alt="">
								<span>喝完一杯葡萄酒后，你是否发现杯底有沉淀物?这些沉淀物是从哪里来的，是否对人体有害?又如何过滤掉呢?首先别担心你喝到的是了黑心商品 - 沉淀物不但对健康无害，反而有可能是好酒独有的产物。</span><br>
								<br>
								<a>时间：2019-03-04 15:09:48</a>
							</li>
							<li>
								<img src="images/4-1Z22QR055220.jpg" alt="">
								<span>上世纪70年代之前，美国的一个标准酒瓶容量为五分之一加仑，也就是大约757毫升;大约在72、73年的时候，美国决定采用更加“国际化”的计量单位，因此五分之一加仑的酒瓶就统一改成750毫升。</span><br>
								<br>
								<a>时间：2019-02-28 18:16:07</a>
							</li>
							<li>
								<img src="images/4-1Z122154451124.jpg" alt="">
								<span>选购葡萄酒时，你会发现商家往往会提供葡萄酒所获得的评分供你参考，同一酒评家对不同酒款的评分不尽相同，不同酒评家对同一款酒的评分也可能存在很大差异。每位酒评家都有自己的一套标准</span><br>
								<br>
								<a>时间：2019-01-22 15:40:41</a>
							</li>
							<li>
								<img src="images/4-1Z122153914910.jpg" alt="">
								<span>葡萄酒的香气千变万化，一款酒即便是同样的品种酿制，或是产自同一个产区，甚至在不同阶段都可能展现出不一样香气。在品酒的时候，想必你也听闻过一、二和三类香气这种说法，那么它</span><br>
								<br>
								<a>时间：2019-01-22 15:25:30</a>
							</li>
							<li>
								<img src="images/4-1Z116143644D7.png" alt="">
								<span>黑胡椒是我们日常烹饪常用的调料，也是葡萄酒常见的香气之一。它属于辛香料的范畴，由新鲜的深绿色胡椒经风干后研磨而成。这种独特的风味为什么会出现在葡萄酒中，又常见于哪些葡萄</span><br>
								<br>
								<a>时间：2019-01-16 14:34:35</a>
							</li>
							<li>
								<img src="images/4-1Z1031Q04HE.jpg" alt="">
								<span>葡萄酒酒标包含许多的信息，是对该葡萄酒的事实描述，小编将为您介绍酒标的5个基本组成要素，并列举了一些其他重要信息，帮助您快速准确地看懂一款酒标。 葡萄酒酒标包含许多的信息，</span><br>
								<br>
								<a>时间：2019-01-03 18:09:58</a>
							</li>
						</ul>
					</div>
					<div class="redWineTasting">
						<ul>
							<li>
								<img src="images/4-1Z22QR50D24.jpg" alt="">
								<span>老藤是一个老生常谈的话题，老藤葡萄酒也非常受欢迎。正如常言道：姜是老的辣，酒是陈的香!按照这个道理，那么老藤葡萄酒是不是也会品质更优呢?在回答这个问题前，我们还是先来搞懂什</span><br>
								<br>
								<a>时间：2019-02-28 18:23:29</a>
							</li>
							<li>
								<img src="images/4-1Z2261S005519.jpg" alt="">
								<span>智利是新世界产区的重要一员，但却一直默默无闻。这片狭长的土地接受安第斯山脉(Andes Mountains)的雪水馈赠，享受西太平洋(Pacific Ocean)的温暖阳光，成为许多葡萄的天堂。</span><br>
								<br>
								<a>时间：2019-02-26 18:28:35</a>
							</li>
							<li>
								<img src="images/4-1Z2261RAb04.jpg" alt="">
								<span>在品鉴葡萄酒时，尤其是红葡萄酒，你是否感受过酒中那丝若隐若现的巧克力风味，抑或是仿佛置身于巧克力作坊，口中、鼻翼都有巧克力的气息?这些巧克力的香气或者风味为何会出现在葡萄</span><br>
								<br>
								<a>时间：2019-02-26 18:25:44</a>
							</li>
							<li>
								<img src="images/4-1Z114154240Z1.png" alt="">
								<span>智利位于太平洋和安第斯山脉(Andes Mountains)的中间地带，它的国土朝南北延伸，地理形状比较细长，因此有人也把它称作倒过来的加州(California)。正是这种地理条件孕育了智利复杂多</span><br>
								<br>
								<a>时间：2019-01-14 15:41:55</a>
							</li>
							<li>
								<img src="images/4-1Q2241526223J.png" alt="">
								<span>雷司令(Riesling)，作为德国的代表性酿酒葡萄品种，可是出落的相当优秀!以全世界最贵的雷司令葡萄酒榜单为例，放眼望去，压根找不到其他国家的名头...... 在Wine Seacher 网站上，最贵雷司</span><br>
								<br>
								<a>时间：2018-12-20 14:45:27</a>
							</li>
							<li>
								<img src="images/4-1Q214153051402.png" alt="">
								<span>你有没有碰到过开瓶 4 个小时，葡萄酒依然死气沉沉，无论通过醒酒器还是摇杯都无法唤醒活力?你肯定会想，这酒不会是坏了吧?别急着下定论，因为你的葡萄酒很有可能遭遇了中年危机</span><br>
								<br>
								<a>时间：2018-12-15 18:04:51</a>
							</li>
							<li>
								<img src="images/4-1Q02414493V55.png" alt="">
								<span>特卢梭(Trousseau)是一种起源于法国东部汝拉(Jura)产区的红葡萄品种，最早于1732年以Troussot的名字被提及。而在西班牙和葡萄牙，特卢梭也有着至少两百年的种植历史。</span><br>
								<br>
								<a>时间：2018-12-08 14:26:13</a>
							</li>
							<li>
								<img src="images/4-1Z116143644D7.png" alt="">
								<span>莫利斯特尔(Moristel)是起源于西班牙东北部的阿拉贡(Aragon)产区的红葡萄品种，在这里，莫利斯特尔有时被误认为是慕合怀特(Monastrell)的变异品种或是莫纳斯特莱(Morrastel)。</span><br>
								<br>
								<a>2018-12-08 14:24:17</a>
							</li>
							<li>
								<img src="images/4-1Q1241550513R.jpg" alt="">
								<span>品酒是一门学问，不仅表现在诸多的品酒技巧和礼仪上，还表现在对葡萄酒基本知识的掌握上。识别葡萄酒的颜色就是品酒中不可或缺的重要一步，葡萄酒的颜色不仅包含了酒龄、酿酒...</span><br>
								<br>
								<a>时间：2018-11-24 15:49:08</a>
							</li>
						</ul>
					</div>
					<div class="redWinefood">
						<ul>
							<li>
								<img src="images/4-1Z3011R411629.jpg" alt="">
								<span>桃红葡萄酒历史悠久，公元前600年，腓内基人将葡萄园的概念引入法国后，桃红葡萄酒开始盛行，十七、十八世纪桃红成为欧洲帝王最欣赏的美酒. 随着葡萄酒消费中心向中国的转移，中国葡</span><br>
								<br>
								<a>时间：2019-03-01 18:21:21</a>
							</li>
							<li>
								<img src="images/4-1Z2261S005519.jpg" alt="">
								<span>智利是新世界产区的重要一员，但却一直默默无闻。这片狭长的土地接受安第斯山脉(Andes Mountains)的雪水馈赠，享受西太平洋(Pacific Ocean)的温暖阳光，成为许多葡萄的天堂。</span><br>
								<br>
								<a>时间：2019-02-26 18:28:35</a>
							</li>
							<li>
								<img src="images/4-1Z2261RAb04.jpg" alt="">
								<span>在品鉴葡萄酒时，尤其是红葡萄酒，你是否感受过酒中那丝若隐若现的巧克力风味，抑或是仿佛置身于巧克力作坊，口中、鼻翼都有巧克力的气息?这些巧克力的香气或者风味为何会出现在葡萄</span><br>
								<br>
								<a>时间：2019-02-26 18:25:44</a>
							</li>
							<li>
								<img src="images/4-1Z114154240Z1.png" alt="">
								<span>智利位于太平洋和安第斯山脉(Andes Mountains)的中间地带，它的国土朝南北延伸，地理形状比较细长，因此有人也把它称作倒过来的加州(California)。正是这种地理条件孕育了智利复杂多</span><br>
								<br>
								<a>时间：2019-01-14 15:41:55</a>
							</li>
							<li>
								<img src="images/4-1Q2241526223J.png" alt="">
								<span>雷司令(Riesling)，作为德国的代表性酿酒葡萄品种，可是出落的相当优秀!以全世界最贵的雷司令葡萄酒榜单为例，放眼望去，压根找不到其他国家的名头...... 在Wine Seacher 网站上，最贵雷司</span><br>
								<br>
								<a>时间：2018-12-20 14:45:27</a>
							</li>
							<li>
								<img src="images/4-1Q214153051402.png" alt="">
								<span>你有没有碰到过开瓶 4 个小时，葡萄酒依然死气沉沉，无论通过醒酒器还是摇杯都无法唤醒活力?你肯定会想，这酒不会是坏了吧?别急着下定论，因为你的葡萄酒很有可能遭遇了中年危机</span><br>
								<br>
								<a>时间：2018-12-15 18:04:51</a>
							</li>
							<li>
								<img src="images/4-1Q02414493V55.png" alt="">
								<span>特卢梭(Trousseau)是一种起源于法国东部汝拉(Jura)产区的红葡萄品种，最早于1732年以Troussot的名字被提及。而在西班牙和葡萄牙，特卢梭也有着至少两百年的种植历史。</span><br>
								<br>
								<a>时间：2018-12-08 14:26:13</a>
							</li>
							<li>
								<img src="images/4-1Z116143644D7.png" alt="">
								<span>莫利斯特尔(Moristel)是起源于西班牙东北部的阿拉贡(Aragon)产区的红葡萄品种，在这里，莫利斯特尔有时被误认为是慕合怀特(Monastrell)的变异品种或是莫纳斯特莱(Morrastel)。</span><br>
								<br>
								<a>2018-12-08 14:24:17</a>
							</li>
							<li>
								<img src="images/4-1Q1241550513R.jpg" alt="">
								<span>品酒是一门学问，不仅表现在诸多的品酒技巧和礼仪上，还表现在对葡萄酒基本知识的掌握上。识别葡萄酒的颜色就是品酒中不可或缺的重要一步，葡萄酒的颜色不仅包含了酒龄、酿酒...</span><br>
								<br>
								<a>时间：2018-11-24 15:49:08</a>
							</li>
						</ul>
					</div>
					<div class="redWineProducing">
						<ul>
							<li>
								<img src="images/4-1P930142535302.png" alt="">
								<span>作为旧世界阵营的重要一员，西班牙拥有数千年的葡萄种植与葡萄酒酿造历史，以及一众知名产区和多姿多彩的葡萄酒。如果你对这个传统的宝藏国家有兴趣，不妨先来了解一下 西班牙葡萄酒 </span><br>
								<br>
								<a>时间：2019-03-16 14:11:56</a>
							</li>
							<li>
								<img src="images/4-1Z31114421KK.png" alt="">
								<span>意大利最具代表性的葡萄酒莫过于著名的五剑客阿玛罗尼(Amarone)、巴罗洛(Barolo)、巴巴莱斯科(Barbaresco)、布鲁奈罗(Brunello)和基安帝(Chianti)。你可知道它们都来自下面这几</span><br>
								<br>
								<a>时间：2019-03-11 14:35:53</a>
							</li>
							<li>
								<img src="images/4-1Z30G444004T.jpg" alt="">
								<span>普里尼-蒙哈榭(Puligny-Montrachet)是一个只有7.3平方千米的勃艮第(Burgundy)小村庄，但这里无疑是世界上最适合种植霞多丽(Chardonnay)的土地之一。其风土之优越令许多名家梦寐以</span><br>
								<br>
								<a>时间：2019-03-07 14:41:18	</a>
							</li>
							<li>
								<img src="images/4-1Z30G44002235.jpg" alt="">
								<span>意大利优秀的产区众多，除了遐迩闻名的皮埃蒙特(Piedmont)、托斯卡纳(Tuscany)与威尼托(Veneto)，还有一些产区一直以来被低估，其中就包括了今天的主角阿布鲁佐(Abruzzo)。 依山傍水 </span><br>
								<br>
								<a>时间：2019-03-07 14:30:12</a>
							</li>
							<li>
								<img src="images/4-1Q2241526223J.png" alt="">
								<span>雷司令(Riesling)，作为德国的代表性酿酒葡萄品种，可是出落的相当优秀!以全世界最贵的雷司令葡萄酒榜单为例，放眼望去，压根找不到其他国家的名头...... 在Wine Seacher 网站上，最贵雷司</span><br>
								<br>
								<a>时间：2018-12-20 14:45:27</a>
							</li>
							<li>
								<img src="images/4-1Z2261R135614.png" alt="">
								<span>许多葡萄酒产区因拥有古老的酿酒历史、丰富的酒文化或者秀丽的自然景观，被联合国教科文组织(UNESCO)列入世界文化遗产的名录，本文便介绍其中一部分知名产区。 法国圣埃美隆(Saint-</span><br>
								<br>
								<a>时间：2019-02-26 18:16:23</a>
							</li>
							<li>
								<img src="images/4-1Z1021T055292.jpg" alt="">
								<span>对澳洲酒有了解的小伙伴们，对澳洲酒的分级应该有一点耳闻吧，比如有着澳洲最权威的葡萄酒分级系统之一、同时有最权威的澳洲精品葡萄酒消费指南称号的兰顿分级! 比如澳大利亚首屈一</span><br>
								<br>
								<a>时间：2019-01-02 18:38:38</a>
							</li>
							<li>
								<img src="images/4-1Z30G44002235.jpg" alt="">
								<span>作为世界上最南端的产酒区，中部奥塔哥为世人贡献了独一无二的顶级黑皮诺葡萄酒，我们一起来了解下吧。 作为地球最南端的新世界产酒国，新西兰不仅为世人贡献了独一无二的长相思</span><br>
								<br>
								<a>时间：2018-12-28 14:57:18</a>
							</li>
							<li>
								<img src="images/4-1Q22G4512a46.jpg" alt="">
								<span>小伙伴们，要不要来猜一猜?不仅是西班牙第一个获得DOCa认证的;而且国内有明星婚宴用酒，也来自这个产区;另外还被公认是西班牙的明星产区! 大家知道这个产区是哪个吗? 明星婚宴用酒的提</span><br>
								<br>
								<a>时间：2018-12-27 14:42:07</a>
							</li>
						</ul>
					</div>
					<div class="redWineTourism">
						<ul>
							<li>
								<img src="images/4-1Z11G5122E20.jpg" alt="">
								<span>从乌海机场驶入市区的路上，放眼望去，除了道路两边光秃秃的白杨树，看不到一蓬绿色植物。即便在被乌海当地人称作最不好看的冬季，乌海的大漠风光依然迷人：不远处甘德尔山上耸立着 </span><br>
								<br>
								<a>时间：2019-01-17 15:09:49</a>
							</li>
							<li>
								<img src="images/4-1Q231161059C0.jpg" alt="">
								<span>尼亚加拉产区横跨加拿大和美国边界，这里拥有众多精美酒庄，而且有着许多优质葡萄酒，更重要的是，尼亚加拉产区被众多葡萄酒爱好者评为最适宜自助游的葡萄酒产区之一。 如果你喜欢品</span><br>
								<br>
								<a>时间：2018-12-31 16:04:47</a>
							</li>
							<li>
								<img src="images/4-1Q2251442451X.png" alt="">
								<span>扣心人弦的斗牛表演、激动人心的西甲足球联赛、富有感染力的弗拉明戈舞(Flamenco Dance)、浪漫的吉他民谣西班牙似乎总是向全世界展现着它的热情和活力，吸引了源源不断的游客。而同</span><br>
								<br>
								<a>时间：2018-12-25 14:42:05	</a>
							</li>
							<li>
								<img src="images/4-1Q219144329120.jpg" alt="">
								<span>普罗旺斯广袤的葡萄园一直延伸到地中海沿岸和阿尔卑斯山脚下，覆盖了埃克斯的田野和尼斯的内陆地区约2650公顷的面积。作为桃红葡萄酒的发源地，普罗旺斯有着得天独厚的地理条件： </span><br>
								<br>
								<a>时间：2018-12-19 14:42:00</a>
							</li>
							<li>
								<img src="images/4-1Q21014512DO.jpg" alt="">
								<span>对于爱酒之人来说，喝酒根本不用刻意找理由，无论春夏秋冬，只要有一个喝酒的好心情，其他的一切都不成问题。如今除了在家饮用美酒外，还可以直接去国外产区游览品尝。深入产区不仅</span><br>
								<br>
								<a>时间：2018-12-10 14:50:16</a>
							</li>
							<li>
								<img src="images/4-1Q12216034IK.jpg" alt="">
								<span>有不少朋友去美国加州之前，都会问我要个酒庄游的行程推荐。对于第一次去加州酒庄游的朋友，我通常会推荐去北加州的纳帕谷。除了酒好之外，Napa也是美国经营最完善的葡萄酒旅游产</span><br>
								<br>
								<a>时间：2018-11-22 16:20:45</a>
							</li>
							<li>
								<img src="images/4-1PI114250I93.png" alt="">
								<span>波尔多(Bordeaux)是世界上最著名的葡萄酒产区之一，出产了无数顶级佳酿，是广大葡萄酒爱好者心中的圣地。如果有机会去波尔多旅游，小编建议你一定要去其新地标性建筑葡萄酒文化城(La </span><br>
								<br>
								<a>时间：2018-07-31 14:26:06</a>
							</li>
							<li>
								<img src="images/4-1P619141043108.png" alt="">
								<span>对于爱酒之人来说，喝酒根本不用刻意找理由，无论春夏秋冬，只要有一个喝酒的好心情，其他的一切都不成问题。如今除了在家饮用美酒外，还可以直接去国外产区游览品尝。深入产区不仅</span><br>
								<br>
								<a>时间：2018-06-19 14:06:13</a>
							</li>
							<li>
								<img src="images/4-1P611161T9292.png" alt="">
								<span>如果你是一个真正的葡萄酒爱好者，你可能会认为所有的葡萄酒产区都很美。的确，这无可厚非。但如果你既是葡萄酒爱好者，又是旅游发烧友，想在品酒的同时，用相机记录下美好的时刻</span><br>
								<br>
								<a>时间：2018-06-11 16:13:43</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			
		</main>
		<!-- 尾部 -->
		<footer class="bottom">
			<div class="left"><img src="images/logo1.png" alt=""></div>
			<div class="right"><ul>
				<li><img src="images/tao.png" alt="">淘宝商城</li>
				<li><img src="images/weibo.png" alt="">公司微博</li>
				<li><img src="images/wechat.png" alt="">微信</li>
				<li><img src="images/email.png" alt="">邮箱</li>
			</ul>
		<span>东莞市蓝菲酒业有限公司</span><address>地址：东莞市南城区财富广场A座13A04室</address>
		<p>
			<span>电话：0769-00000000</span>
			<span>传真：0769-00000000</span>
			<span>全国免费招商热线：400-0000-199</span>
		</p>
		</div>
		<p>东莞市Keyqu酒业有限公司    版权所有  Copyright 2010-2018 666.com All Rights Reserved 投资有风险,选择需谨慎 </p>
		</footer>
		<div class="top_up"><img src="images/top.png" alt=""></div>
	</div>
	<script src="javascripts/jquery-3.3.1.min.js"></script>
	<script src="javascripts/bootstrap.min.js"></script>
	<script src="javascripts/global.js"></script>
	<script src="javascripts/wineCulture.js"></script>
</body>
</html>